src/test/resources/sjema/sjema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn://sjema" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:annotation>
        <xs:documentation>Схема пример</xs:documentation>
    </xs:annotation>
    <xs:element name="sjema">
        <xs:annotation>
            <xs:documentation>sjema</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="info" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="Id" type="xs:ID"/>
        </xs:complexType>
    </xs:element>
</xs:schema>